<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="static/css/bootstrap.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="static/css/custom.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    </head>

               <!--<form action="/post2" target="_self" autocomplete="off" method="POST">-->
                   <!--<input type="text" name="answer" autofocus>-->
                   <!--<br>-->
                   <!--<input type="submit" value="Submit">-->
                   <!--<button name="act" type="submit" value="previous">Previous</button>-->
                   <!--<button name="act" type="submit" value="show">Show</button>-->

               <!--</form>-->
    <body>
        <div class="container">

            <div class="row">
                <br>
                <div class="col-md-6 offset-md-3">
                    <!--bg-primary-->
                    <div class="card text-white bg-radicals">
                        <div class="card-body text-center">
                            <h1>"Hello"2223333321654016451616543</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3 centerBlock">
                    <br>
                  <input class="form-control" type="text" name="answer" autofocus>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-6 offset-md-3 centerBlock">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-6 offset-md-3 centerBlock">
                    <button class="btn btn-primary" name="act" type="submit" value="previous">Previous</button>
                    <button class="btn btn-primary" name="act" type="submit" value="Next">Next</button>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="col s12 m6 l3 center-align"><p>s12 m6 l3</p></div>-->
                <!--<div class="col s12 m6 l3 center-align"><p>s12 m6 l3</p></div>-->
                <!--<div class="col s12 m6 l3 center-align"><p>s12 m6 l3</p></div>-->
                <!--<div class="col s12 m6 l3 center-align"><p>s12 m6 l3</p></div>-->
            <!--</div>-->
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
  </html>
