<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/css/custom.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">


</head>


<body>

<!-- Navbar code-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary py-1">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
{#        <form class="form-inline my-2 my-lg-0 py-0">#}
{#            <input class="form-control mr-sm-2 py-0" type="text" placeholder="Search">#}
{#            <button class="btn btn-secondary my-2 my-sm-0 py-0" type="submit">Search</button>#}
{#        </form>#}
    </div>
</nav>

<div class="progress">
    <div class="progress-bar bg-pink" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0"
         aria-valuemax="100"></div>
</div>

<div id="message-display"></div>

<div class="container">
    <form id="answer-form" method="get" action="/form2" role="form">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div id="question-card" class="card text-white">
                    <div class="card-body text-center question-display my-0 py-0 my-md-4 py-md-4">
                        <h1 class="card-text"></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="card text-white bg-question-type-gradient">
                    <div class="card-body text-center crd-question-type question-type-display">
                        <h6 class="card-text txt-question-type"></h6>
                        <p class="txt-question-type font-weight-bold"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                <input type="text" id="answer" name="answer" class="form-control" autocomplete="off" placeholder="Your Response">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit"><i class="fas fa-angle-right"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <br>
            <div class="col-md-6 offset-md-3 centerBlock">
                <button class="btn btn-primary" onclick="previous_item()" name="action" type="button" value="previous">
                    Previous
                </button>
                <button class="btn btn-primary" onclick="show_answer()" name="action" type="button" value="show_answer">Show Answer</button>
                <button class="btn btn-primary" onclick="show_info()" name="action" type="button" value="info">Show Info</button>
                <button class="btn btn-primary" onclick="next_item()" name="action" type="button" value="skip">Skip</button>
            </div>
        </div>
    </form>

    <iframe class="col-md-6 offset-md-3" name="wani-info"></iframe>
    fef
</div>

<br>
<br>
<br>




<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

<script src="static/js/script.js"></script>
</body>
</html>
